<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}
{% load my_filters_and_tags %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    Home
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container">
    <!-- 面包屑导航 -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'mental:mental_list' %}?search={{ search }}&column={{ column }}&tag={{ tag }}">
                    Latest
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'mental:mental_list' %}?order=total_views&search={{ search }}&column={{ column }}&tag={{ tag }}">
                    Hottest
                </a>
            </li>
        </ol>
    </nav>

    <!-- 搜索栏 -->
    <div class="row">
        <div class="col-auto mr-auto">
            <form class="form-inline" >
                <label class="sr-only">content</label>
                <input type="text" 
                    class="form-control mb-2 mr-sm-2" 
                    name="search" 
                    placeholder="Searching for articles..." 
                    required
                >
            </form>
        </div>
        {% if user.is_authenticated %}
            <div>
                <a class="btn btn-primary" href="{% url 'mental:mental_create' %}">Create</a>
            </div>
        {% endif %}
    </div>

    <!-- 搜索提示语 -->
    {% if search %}
        {% if mentals %}
            <h4>The result of the search is: <span style="color: rgb(16, 15, 107)">"{{ search }}"</span></h4>
            <hr>        
        {% else %}
            <h4>There is no articles about <span style="color: rgb(16, 15, 107)">"{{ search }}"</span></h4>
            <hr>
        {% endif %}
    {% endif %}
        
    <!-- 列表循环 -->
    <div class="row mt-2">
        {% for mental in mentals %}
            <!-- 文章内容 -->
            
            <!-- 标题图 -->
            {% if mental.avatar %}
                <div class="col-3">
                    <img src="{{ mental.avatar.url }}" 
                         alt="avatar" 
                         style="max-width:100%; border-radius: 20px"
                    >
                </div>
            {% endif %}

            <div class="col">

                <!-- 标签 -->
                <span>
                    {% for tag in mental.tags.all %}
                        <a href="{% url 'mental:mental_list' %}?tag={{ tag }}"
                           class="badge badge-secondary" 
                        >
                            {{ tag }}
                        </a>
                    {% endfor %}
                </span>

                <!-- 标题 -->
                <h4>
                    <b>
                        <a href="{% url 'mental:mental_detail' mental.id %}"
                           style="color: black;" 
                        >
                            {{ mental.title }}
                        </a>
                    </b>
                </h4>
                <!-- 摘要 -->
                <div>
                    <p style="color: gray;">
                        {{ mental.body|slice:'100' }}...
                    </p>
                </div>
                <!-- 注脚 -->
                <p>
                    <!-- 附加信息 -->
                    <span>
                        <i class="fas fa-eye" style="color: lightskyblue;"></i>
                        {{ mental.total_views }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-comments" style="color: yellowgreen;"></i>
                        {{ mental.comments.count }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-clock" style="color: pink;"></i>
                        <!--
                        {{ mental.created|date:'Y-m-d' }}
                        -->
                        {{ mental.created }}
                    </span>
                </p>
            </div>
            <hr style="width: 100%;"/>
        {% endfor %}
    </div>

    <!-- 页码导航 -->
    <div class="pagination row">
        <div class="m-auto">
            <span class="step-links">
                <!-- 如果不是第一页，则显示上翻按钮 -->
                {% if mentals.has_previous %}
                    <a href="?page=1&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}" class="btn btn-success">
                        &laquo; 1
                    </a>
                    <span>...</span>
                    <a href="?page={{ mentals.previous_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}" 
                       class="btn btn-secondary"
                    >
                        {{ mentals.previous_page_number }}
                    </a>
                {% endif %}

                <!-- 当前页面 -->
                <span class="current btn btn-danger btn-lg">
                    {{ mentals.number }}
                </span>

                <!-- 如果不是最末页，则显示下翻按钮 -->
                {% if mentals.has_next %}
                    <a href="?page={{ mentals.next_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                       class="btn btn-secondary"
                    >
                        {{ mentals.next_page_number }}
                    </a>
                    <span>...</span>
                    <a href="?page={{ mentals.paginator.num_pages }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                       class="btn btn-success"
                    >
                        {{ mentals.paginator.num_pages }} &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    </div>

</div>

{% endblock content %}